# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.SupportBank.iml
/modules.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
.idea
.idea/.idea.SupportBank/.idea
.idea/.idea.SupportBank/.idea/.gitignore
obj/Debug/net9.0
SupportBank.AssemblyInfo.cs
bin/Debug/net9.0/Resources


